body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('images/table.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    font-weight: bold;
}

.game-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 50px auto;
    color: black;
}

h1 {
    color: goldenrod;
}

button {
    background-color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #3d773e;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    width: 150px;
    border: none;
}

#message-el {
    font-style: italic;
}

#message-el, #cards-el, #sum-el, #player-el {
    margin-bottom: 20px;
    font-size: 1.2em;
}

#stats {
    margin-top: 20px;
    color: #333;
}

#stats h2 {
    color: goldenrod;
    font-size: 1.4em;
    margin-bottom: 10px;
}

#stats p {
    font-size: 1em;
    margin: 5px 0;
}
